In [3]:
#print 0 to 20 by using range
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
num=range(10,20)
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [9]:

for num in range (10,21):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19 20

In [4]:
#Print number of items in list by using '1en'
lists=[ 10,20,14,55,43,87,76]
for len in lists :
    print(len)
print("Number of items in list:",7)

10
20
14
55
43
87
76
Number of items in list: 7

In [7]:
print("Artificial intelligence")
name="Artificial intelligence"
for letter in name:
    print(letter)

Artificial intelligence
A
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [14]:
Name=input("Enter your Name")
Age=input("Enter your Age")
Profession=input("Enter your Profession")

Enter your Name
Enter your Age
Enter your Profession

In [15]:
tup=(1,"welcome",2,"Hope")
print(tup)

(1, 'welcome', 2, 'Hope')

In [16]:
tuple1=(0,1,2,3)
tuple2=("python","Hope")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [27]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    print(num)

20
10
16
19
25
1
276
188

In [12]:
list=[20,10,16,19,25,1,276,188]


for num in list:

    if((num%2)==0):
        print((int(num)),"is Even")
    else:
        print((int(num)),"is Odd")

20 is Even
10 is Even
16 is Even
19 is Odd
25 is Odd
1 is Odd
276 is Even
188 is Even

In [19]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2)==0):
        print((int(num)),"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even

In [20]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2)==1):
        print((int(num)),"is odd")

19 is odd
25 is odd
1 is odd